  <div class="grid--full color dark navigation_tabs">
    <div class="grid__item color dark large--one-fifth medium--one-quarter small--one-quarter">
      <ul class="tab_links">
        <!-- for -->
        <li data-tab="specs" class="active">Specifications</li>
        <li data-tab="warranty">Warranty</li>
        <li data-tab="included">Included</li>
        <li data-tab="upgrades">Upgrades</li>
        <!-- endfor -->
      </ul>
    </div>
    <div class="grid__item large--four-fifths medium--three-quarters small--three-quarters">
      <div class="tabs">
        <!-- for -->
          <div class="tab_content active" id="specs">
            <div class="grid large--grid--flex">
              <div class="grid__item flex__item">
                <h3 class="small--hide">Specifications</h3>
                  <div class="rte">
                  Layer resolution: 600 to 20 micron
                  Build volume: 22.3 x 22.3 x 30.5 cm
                  Position precision : X 12.5 / Y 12.5 / Z 5 micron
                  Print head travel speed: 30 - 300 mm/s
                  Recommended filament diameter: 2.85 mm
                  Nozzle diameters (swappable nozzle): 0.25, 0.4, 0.6, 0.8 mm
                  Stand-alone SD-card printing
                  Heated bed operating temperature: 50° - 100°C
                </div>
              </div>
            </div>
          </div>
          <!-- for -->
            <div class="tab_content" id="warranty">
              <div class="grid large--grid--flex">
                <div class="grid__item flex__item">
                  <h3 class="small--hide">warranty</h3>
                    <div class="rte">
                    Layer resolution: 600 to 20 micron
                    Build volume: 22.3 x 22.3 x 30.5 cm
                    Position precision : X 12.5 / Y 12.5 / Z 5 micron
                    Print head travel speed: 30 - 300 mm/s
                    Recommended filament diameter: 2.85 mm
                    Nozzle diameters (swappable nozzle): 0.25, 0.4, 0.6, 0.8 mm
                    Stand-alone SD-card printing
                    Heated bed operating temperature: 50° - 100°C
                  </div>
                </div>
              </div>
            </div>
            <!-- for -->
              <div class="tab_content" id="included">
                <div class="grid large--grid--flex">
                  <div class="grid__item flex__item">
                    <h3 class="small--hide">Included</h3>
                      <div class="rte">
                      Layer resolution: 600 to 20 micron
                      Build volume: 22.3 x 22.3 x 30.5 cm
                      Position precision : X 12.5 / Y 12.5 / Z 5 micron
                      Print head travel speed: 30 - 300 mm/s
                      Recommended filament diameter: 2.85 mm
                      Nozzle diameters (swappable nozzle): 0.25, 0.4, 0.6, 0.8 mm
                      Stand-alone SD-card printing
                      Heated bed operating temperature: 50° - 100°C
                    </div>
                  </div>
                </div>
              </div>
            <!-- for -->
              <div class="tab_content" id="upgrades">
                <div class="grid large--grid--flex">
                  <div class="grid__item flex__item">
                    <h3 class="small--hide">Upgrades</h3>
                      <div class="rte">
                      Layer resolution: 600 to 20 micron
                      Build volume: 22.3 x 22.3 x 30.5 cm
                      Position precision : X 12.5 / Y 12.5 / Z 5 micron
                      Print head travel speed: 30 - 300 mm/s
                      Recommended filament diameter: 2.85 mm
                      Nozzle diameters (swappable nozzle): 0.25, 0.4, 0.6, 0.8 mm
                      Stand-alone SD-card printing
                      Heated bed operating temperature: 50° - 100°C
                    </div>
                  </div>
                </div>
              </div>
        <!-- endfor -->
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){

      $('ul.tab_links li').click(function(){
        var tab_id = $(this).attr('data-tab');

        $('ul.tab_links li').removeClass('active');
        $('.tab_content').removeClass('active');

        $(this).addClass('active');
        $("#"+tab_id).addClass('active');
      })

    });
  </script>
