<!-- snippets/product-awards.liquid -->
{% assign count = 0 %}
{% for article in blogs.awards.articles limit:16 %}
  {% for tag in article.tags %}
    {% if tag == product.title %}
      {% assign count = count | plus: 1 %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if count > 0 %}
  <section id="awards" class="container color grey">
    <div class="wrapper">
      <div class="grid--full grid-uniform">
        <div class="grid__item flex__item">
          <h3 class="text-center">Awards & Recognition</h3>
        </div>
        <div class="grid__item flex__item award-wrapper">
          {% for article in blogs.awards.articles limit:16 %}
            {% for tag in article.tags %}
              {% if tag == product.title %}
              {% include 'shortcode' load: article.content %}
                <div class="award">
                  {% if link != blank %}<a href="{{ link }}" target="_blank" rel="nofollow" title="{{ article.title }}">{% endif %}<img src="{{ article | img_url: 'large' }}" alt="{{ article.title }}">{% if link != blank %}</a>{% endif %}
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
