<!-- /snippets/shortcode-hero.liquid -->
{% capture title %}{% include 'shortcode-render' render:'title' default:'' %}{% endcapture %}
{% capture text %}{% include 'shortcode-render' render:'text' default:'' %}{% endcapture %}
{% capture image %}{% include 'shortcode-render' render:'image' default:'' %}{% endcapture %}
<section id="hero">
  <div style="background-image: url( '{{ image }}' );">
    <div class="container color black-over">
      <div class="wrapper">
        <div class="grid--full grid-uniform text-center">
          <div class="grid__item flex__item large--ten-twelfths push--large--one-twelfth">
            <div class="mini-wrapper">
              <h2>{{ title }}</h2>
              <p>{{ text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
