{% capture speci %}{% include 'shortcode-render' render:'size' default:'' %}{% endcapture %}

  <div class="container color grey">
    <div class="wrapper">
      <div class="grid--full grid-uniform text-center">
      <h1>Specifications</h1>
      </div>
    </div>
  </div>
