<!-- /snippets/shortcode-description.liquid -->
<section id="description">
  <div class="container color dark">
    <div class="wrapper">
      <h3>{{ product.title }}</h3>
      <p>{{ description }}</p>
    </div>
  </div>
</section>
