<ul class="social-links inline-list">
    <li><a title="Join us on Twitter" target="_blank" href="https://twitter.com/imaginables3d"><i class="fi-social-twitter"></i></a></li>
    <li><a title="Join us on Facebook" target="_blank" href="https://www.facebook.com/Imaginables3D"><i class="fi-social-facebook"></i></a></li>
</ul>