<!-- /snippets/theme-cart.liquid -->

<div id="CartDrawer" class="drawer drawer--right">
  <div class="drawer__header">
    <div class="drawer__title h3">{{ 'cart.general.title' | t }}</div>
    <div class="drawer__close js-drawer-close">
      <button type="button">
        {% include 'icon' with 'close' %}
      </button>
    </div>
  </div>
  <div id="CartMessage">
    <p class="text-center">{{ 'cart.general.empty' | t }}</p>
  </div>
  <div id="CartContainer"></div>
</div>