	<div class="large-8 large-offset-2 columns shopify-welcome-message">
		{% assign page = pages.frontpage %}
		{{ page.content }}
		<p style="text-align:center;">
			<a class="button" href="/pages/about">Find out more</a>
		</p>
	</div>
	
	{% if settings.slideshow_enable %}
		<!-- Slideshow -->
			{% include 'slideshow' %}
		<!-- End Slideshow -->
	{% endif %}
	
	<div id="news">
		<div class="large-8 large-offset-2 columns">
			{% include 'recent-blog' %}
		</div>
	</div>

</div>

	<div id="contact">
		<div class="row">
			<div class="large-10 large-offset-1 columns">
				<h2 class="centered">Get in touch</h2>
				{% include 'contact-form' %}
				<h3 class="centered follow">Follow and Friend</h3>
				{% include 'social-links' %}
			</div>
		</div>
	</div>
	


{% include 'map' %}

