<!-- Slideshow -->
{% if settings.slideshow_enable %}
	<div class="slideshow">
		<div class="CoverImage FlexEmbed FlexEmbed--3by1" style="background:#1F2831;"></div>
    </div>
{% endif %}
<!-- End Slideshow -->