<ul class="social-links inline-list">
    <li><a title="Join us on Twitter" target="_blank" href="https://twitter.com/elkfox"><i class="fi-social-twitter"></i></a></li>
    <li><a title="Join us on Facebook" target="_blank" href="http://www.facebook.com/elkfox"><i class="fi-social-facebook"></i></a></li>
    <li><a title="Join us on Google+" target="_blank" href="https://plus.google.com/elkfox"><i class="fi-social-google-plus"></i></a></li>
    <li><a title="Join us on LinkedIn" target="_blank" href="http://www.linkedin.com/elkfox"><i class="fi-social-linkedin"></i></a></li>
    <li><a title="Join us on Pinterest" target="_blank" href="http://pinterest.com/elkfox"><i class="fi-social-pinterest"></i></a></li>
</ul>