<!-- /templates/collection.parts.liquid -->
{% paginate collection.products by 50 %}

<div class="container color grey">
  <div class="wrapper">
    <div class="grid__item">

      {% if collection.description != blank %}
        <header class="section-header">
          <h2 class="section-header__title">{{ collection.title }}</h2>
          <div class="rte rte--header">
            {{ collection.description }}
          </div>
        </header>
        <hr>
        <div class="section-header">
          <div class="section-header__right">
            {% include 'collection-sorting' %}
          </div>
        </div>
      {% else %}
        <header class="section-header">
          <h2 class="section-header__title section-header__left">{{ collection.title }}</h2>
          <div class="section-header__right">
            {% include 'collection-sorting' %}
          </div>
        </header>
      {% endif %}

      <div class="grid-uniform">
        {% for product in collection.products %}

          {% include 'product-parts-grid-item' %}

        {% endfor %}
      </div>

      {% include 'pagination' %}

    </div>
  </div>
</div>

{% endpaginate %}
