<!-- Desktop Slider -->
</div>
   <div class="hide-for-small">
		<div class="gallery large">
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url(http://lorempixel.com/500/500/food)"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url(http://lorempixel.com/500/500/cats)"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url(http://lorempixel.com/500/500/fashion)"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url(http://lorempixel.com/500/500/nightlife)"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url(http://lorempixel.com/500/500/city)"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url(http://lorempixel.com/500/500/animals)"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url(http://lorempixel.com/500/500/people)"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url(http://lorempixel.com/500/500/nature)"></div>
		</div>	  
	</div>
<div class="row">
<!-- End Desktop Slider -->

<!-- Mobile Header -->
</div>
   <div class="show-for-small">
		<div class="gallery small">
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url(http://lorempixel.com/500/500/food)"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url(http://lorempixel.com/500/500/cats)"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url(http://lorempixel.com/500/500/fashion)"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url(http://lorempixel.com/500/500/nightlife)"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url(http://lorempixel.com/500/500/city)"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url(http://lorempixel.com/500/500/animals)"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url(http://lorempixel.com/500/500/people)"></div>
	        <div class="CoverImage FlexEmbed FlexEmbed--1by1" style="background-image:url(http://lorempixel.com/500/500/nature)"></div>
		</div>	  
	</div>
<div class="row">
<!-- End Mobile Header -->