{% if blog.next_article or blog.previous_article %}
<p class="clearfix"> 
  {% if blog.next_article %}
  <span class="left">{{ '&larr; Next Post' | link_to: blog.next_article }}</span>
  {% endif %}    
  {% if blog.previous_article %}
  <span class="right">{{ 'Previous Post &rarr;' | link_to: blog.previous_article }}</span>
  {% endif %}
</p>
{% endif %}